<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Web interface for Yosef-Group Sample Library</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'SampleLibrary/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'SampleLibrary/style.css' %}">
    <script src="{% static 'SampleLibrary/jquery-2.1.4.min.js' %}" async></script>
    <script src="{% static 'SampleLibrary/bootstrap.min.js' %}" async></script>

</head>
<body>
<ul>
    <li>{{ sample.name }}</li>
    <li>{{ sample.location }}</li>
</ul>
</body>
</html>