<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Web interface for Yosef-Group Sample Library</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'SampleLibrary/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'SampleLibrary/style.css' %}">
    <script src="{% static 'SampleLibrary/jquery-2.1.4.min.js' %}" async></script>
    <script src="{% static 'SampleLibrary/bootstrap.min.js' %}" async></script>
</head>
<body>
<h1>Upload a New Sample Spreadsheet</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if not filename %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="file" name="filename" class="file"/>
        <input type="submit" value="Upload" class="btn btn-default"/>
    </form>
{% else %}
    {{ filename }} uploaded successfully!
{% endif %}
</body>
</html>