{% extends "SampleLibrary/userBase.html" %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="filtering_show">
        <button type="button" class="btn btn-default btn-lg" aria-label="Filter on">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span style="margin-left: 10px;">Filter Columns</span>
        </button>
    </div>
    <div id="filtering_overlay" style="display: none">
        <div id="filtering_options">
            <button type="button" class="btn btn-primary btn-lg" aria-label="Close Filter" style="margin-top: 15px;">
                Back
            </button>
        </div>
    </div>
    <table id="sample_table" class="display">
        <thead>
        <tr>
            <th>Sample Id</th>
            <th>Upload Batch</th>
            <th>Upload Date</th>
            <th>Uploaded By</th>
            <th>Organism</th>
            <th>Tissue</th>
            <th>Experiment Name</th>
            <th>Data Type</th>
            <th>Genome Version</th>
            <th>Experiment Description</th>
            <th>Single-Cell?</th>
            <th>Published Data?</th>
            <th>Date</th>
            <th>Batch</th>
            <th>Sequencing Tech</th>
            <th>Raw File Location</th>
            <th>Specific Raw File Location</th>
            <th>Local Backup Location</th>
            <th>Remote Backup Location</th>
            <th>Processed File Location</th>
            <th>Condition Code</th>
            <th>Time Code</th>
            <th>Batch Code</th>
            <th>Id Code</th>
            <th>Control Id</th>
            <th>Preprocess Date</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</form>
<script type="text/javascript" language="javascript" class="init">
     $(document).ready(function() {
         var table = $('#sample_table').DataTable( {
             "processing": true,
             "serverSide": true,
             "ajax": {
                 "processing": true,
                 "url": "{% url 'DT_Ajax' %}",
                 "type": "POST",
                 "dataSrc": "data"
             },
             "iDisplayLength": 25,

             "columns": [
                 { "data": "SampleId" , "name": "SampleId", "visible": false},
                 { "data": "UploadBatch", "name": "UploadBatch" , "visible": false},
                 { "data": "UploadDate", "name": "UploadDate" , "visible": false},
                 { "data": "Uploader", "name": "Uploader" , "visible": false},
                 { "data": "Organism", "name": "Organism" },
                 { "data": "Tissue", "name": "Tissue" },
                 { "data": "ExperimentName", "name": "ExperimentName" },
                 { "data": "DataType", "name": "DataType" },
                 { "data": "GenomeVersion", "name": "GenomeVersion" },
                 { "data": "ExperimentDescription", "name": "ExperimentDescription" },
                 { "data": "isSingleCell", "name": "isSingleCell", "visible": false},
                 { "data": "isPublishedData", "name": "isPublishedData", "visible": false},
                 { "data": "Date", "name": "Date", "visible": false },
                 { "data": "Batch", "name": "Batch", "visible": false },
                 { "data": "SequencingTech", "name": "SequencingTech", "visible": false },
                 { "data": "RawFileLoc", "name": "RawFileLoc", "visible": false },
                 { "data": "SpecificRawFileLoc", "name": "SpecificRawFileLoc", "visible": false },
                 { "data": "LocalBackupLoc", "name": "LocalBackupLoc", "visible": false },
                 { "data": "RemoteBackupLoc", "name": "RemoteBackupLoc", "visible": false },
                 { "data": "ProcessedFileLoc", "name": "ProcessedFileLoc", "visible": false },
                 { "data": "ConditionCode", "name": "ConditionCode", "visible": false },
                 { "data": "TimeCode", "name": "TimeCode", "visible": false },
                 { "data": "BatchCode", "name": "BatchCode", "visible": false },
                 { "data": "IdCode", "name": "IdCode", "visible": false },
                 { "data": "ControlId", "name": "ControlId", "visible": false },
                 { "data": "PreprocessDate", "name": "PreprocessDate", "visible": false },
                 { "data": "Comments", "name": "Comments", "visible": false },
                 ],
         } );

        // for each column in header add a togglevis button in the div
        table.columns().every( function () {
            var i = this.index();
            var name = this.header().innerHTML;
            var checkbox = document.createElement( "input" );
            checkbox.type="checkbox";
            checkbox.name=name;
            checkbox.value=i;
            checkbox.id="filterbox"+ i.toString();
            var label = document.createElement("label");
            label.htmlFor = checkbox.id;
            label.appendChild(document.createTextNode(name));

            //Initial checked status
            $(checkbox).prop("checked", this.visible());

            $(checkbox).on( 'change', function (e) {
                e.preventDefault();
                // Get the column API object
                var column = table.column($(this).val());
                 // Toggle the visibility
                column.visible($(this).prop("checked"));
            });
            var div = document.createElement("div");
            div.appendChild(checkbox);
            div.appendChild(label);
            $("#filtering_options").prepend($(div));

        });

         $('#filtering_show').children('button').click(function () {
             $('#filtering_overlay').toggle();
         });

         $('#filtering_options').children('button').click(function () {
             $('#filtering_overlay').toggle();
         });

         $('#filtering_overlay').click(function(){
             $('#filtering_options').children('button').click();
         });

         $('#filtering_options').click(function(event){
             event.stopPropagation(); //Needed to prevent bubbling loop
         });
     } );
 </script>
{% endblock %}
